.nav {
    margin: 0 auto;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}

.nav a {
    text-decoration: none;
    margin-inline: 5px;
    padding-inline: 5px;
    background-color: var(--secondary);
    color: var(--font-color1);
    height: 100%;
    display: flex;
    align-items: center;
    transition: ease-in 0.2s;
    padding-block: 10px;
    border-radius: 0 0 10px 10px;
}

.nav a:hover {
    padding-block: 5px;
    border-radius: 0 0 10px 10px;
}

.nav a:active {
    padding-block: 10px;
    border-radius: 0 0 15px 15px;
}