.App {
    text-align: center;
    width: 100%;
    background-image: url(/src/img/bg1.gif);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

:root {
    --font-color1: rgb(214, 205, 205);
    --primary: rgb(22, 24, 34);
    --secondary: rgb(97, 114, 175);
    --tertiary: rgba(97, 114, 175, 0.398);
}