.home {
    margin: 0 auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(55, 121, 141, 0.104);
    border: 30px solid rgba(128, 128, 128, 0.145);
    margin-top: 20px;
    border-radius: 5px;
}

.cities {
    padding: 10px;
    width: 90%;
    height: 300px;
}

.searchCtn {
    margin-bottom: 20px;
    height: 50px;
    width: 60%;
    background-color: var(--primary);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}