.home {
    margin: 0 auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(55, 121, 141, 0.104);
    border: 30px solid rgba(128, 128, 128, 0.145);
    margin-top: 20px;
    border-radius: 5px;
}

.cities {
    padding: 10px;
    width: 90%;
    height: 350px;
}

.searchCtn {
    margin-bottom: 20px;
    height: 50px;
    width: 60%;
    background-color: var(--primary);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    font-size: 50px;
    animation: welcome linear infinite 5s;
}

@keyframes welcome {
    0% {
        color: var(--primary);
        -webkit-text-stroke: 1px var(--secondary);
    }
    50% {
        color: var(--secondary);
        -webkit-text-stroke: 1px var(--primary);
    }
    100% {
        color: var(--primary);
        -webkit-text-stroke: 1px var(--secondary);
    }
}